<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <br>
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/movies">Peliculas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Película: <%= title %></li>
                </ol>
            </nav>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-4">
                    <img src="/img/<%= image %>" class="img-fluid" alt="">
                </div>
                <div class="col-12 col-md-8">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item fs-3"><b><%= title.toUpperCase() %></b></li>
                        <li class="list-group-item"><b>Duración: </b><%= length %></li>
                        <li class="list-group-item"><b>Estreno: </b><%= moment(release_date).format('DD/MM/YYYY') %></li>
                        <li class="list-group-item"><b>Premios: </b><%= awards %></li>
                        <li class="list-group-item"><b>Rating: </b><%= rating %></li>
                      </ul>
                      <hr>
                      <h6> Actores:</h6>
                      <ul class="list-group list-group-flush">
                        <% actors.forEach(actor => { %>
                            <li class="list-group-item"> <%= actor.last_name %> <b><%= actor.last_name %></b></li>
                        <% }) %>
                      </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <section>
        <!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->
        <div class="col-12">
            <div class="d-flex justify-content-end">
                <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
            </div>
        </div>
    </section>

</body>
</html>